html {
  @apply font-body leading-normal text-black tracking-normal;

  --font-size: calc(1em + 0.5vw);

  @screen md {
    --font-size: calc(0.9em + 0.5vw);
  }

  font-size: var(--font-size);
}

.font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-legible {
  text-rendering: optimizeLegibility;
}

.ligatures {
  font-feature-settings: "liga" 1;
  -webkit-font-feature-settings: "liga" 1;

  font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading font-black leading-none tracking-tight;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

pre, code {
  @apply font-mono;
}