html {
  @apply font-sans leading-normal text-black tracking-normal;

  --font-size: calc(100vw / 30);

  @screen md {
    --font-size: calc(100vw / 45);
  }

  @screen lg {
    --font-size: calc(100vw / 55);
  }

  @screen xl {
    --font-size: calc(100vw / 70);
  }

  @screen 2xl {
    --font-size: calc(100vw / 80);
  }

  font-size: var(--font-size);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold tracking-tight leading-none;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

pre, code {
  @apply font-mono;
}