html {
  @apply font-body leading-normal text-black tracking-normal;

  --font-size: calc(100vw / 29);

  @screen md {
    --font-size: calc(100vw / 40);
  }

  @screen lg {
    --font-size: calc(100vw / 50);
  }

  @screen xl {
    --font-size: calc(100vw / 60);
  }

  @screen 2xl {
    --font-size: calc(100vw / 70);
  }

  font-size: var(--font-size);
}

.font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-legible {
  text-rendering: optimizeLegibility;
}

a {
  @apply text-primary;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading font-black leading-none;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

pre, code {
  @apply font-mono;
}