.o-rich-text {
  @apply text-legible;

  code, pre {
    @apply leading-normal;
  }

  hr {
    @apply mx-auto bg-no-repeat block w-full my-12 border-0 bg-black h-4;

    /* background-image: url(~assets/images/wiggle-loop.gif); */
    max-width: 160px;
  }

  &.has-dropcap :first-child:first-letter {
    font-size: 2.75em;
    line-height: 1.1;
    font-weight: 700;
    float: left;
    padding: 0 6px 0 0;
    margin-bottom: -6px;
  }

  &.has-lede :first-child {
    @apply mb-8 leading-snug text-lg;
  }

  pre {
    @apply rounded text-sm my-8 block;
  }

  @screen md {
    pre {
      font-size: 0.75em;
    }
  }

  pre > code {
    @apply w-full block;
  }

  p code {
    @apply px-2 py-1 rounded;
  }

  p + p {
    @apply mt-4;
  }

  ol, ul {
    @apply pl-10 mb-3 mt-3;
  }

  li + li {
    @apply mt-1;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  .c-image-block {
    @apply my-8;
  }

  img:not(.js-mention__avatar) {
   @apply block max-w-lg mx-auto rounded;
  }

  h2, h3, h4 {
    @apply leading-tight;
  }

  h2 > code,
  h3 > code,
  h4 > code {
    @apply tracking-tight leading-none;
  }

  h2 {
    @apply mt-8;

    margin-bottom: 0.4rem;
  }

  h3 {
    @apply mt-5;

    margin-bottom: 0.35rem;
  }

  h4 {
    @apply mt-4;

    margin-bottom: 0.3rem;
  }

  h2:first-child,
  h3:first-child,
  h4:first-child {
    @apply mt-0;
  }

  blockquote {
    @apply font-script my-8 leading-snug max-w-lg border-l-2 pl-6 py-3 text-lg tracking-wide;
  }

  blockquote p + p {
    @apply mt-2;
  }

  @screen md {
    h2 {
      @apply mt-8;
    }

    h3 {
      @apply mt-6;
    }

    h4 {
      @apply mt-4;
    }
  }
}
