.o-rich-text {
  @apply text-legible ligatures;

  a:not(.c-anchor) {
    @apply underline;
  }

  mark {
    background-color: transparent;
    background-image: linear-gradient(
      180deg,
      transparent 35%,
      color(theme('colors.mint') a(25%)) 35%
    );
    background-position: 0 -0.1em;
    /* background-color: theme('colors.mint') */
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  code, pre {
    @apply leading-normal;
  }

  code {
    font-size: 1.05em;
  }

  hr {
    @apply mx-auto bg-no-repeat block w-full my-12 border-0 bg-black h-4;

    /* background-image: url(~assets/images/wiggle-loop.gif); */
    max-width: 160px;
  }

  &.has-dropcap :first-child:first-letter {
    font-size: 2.75em;
    line-height: 1.1;
    font-weight: 700;
    float: left;
    padding: 0 6px 0 0;
    margin-bottom: -6px;
  }

  &.has-lede > p:first-child {
    @apply mb-8 leading-snug text-xl text-center;
  }

  pre {
    @apply rounded mt-6 mb-8 block;

    font-size: 0.8em;
  }

  pre > code {
    @apply w-full block;
  }

  p code {
    @apply px-2 py-1 rounded;
  }

  ul, ol, p {
    margin-bottom: 1em;
  }

  ol, ul {
    @apply pl-10;

    margin-top: -0.35em;
  }

  li + li {
    margin-top: 0.2em;
  }

  li p {
    @apply mb-0;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  .c-image-block {
    @apply my-8;
  }

  img:not(.js-mention__avatar) {
   @apply block max-w-lg mx-auto rounded;
  }

  .hanging-punctuation {
    text-indent: -0.5em;
  }

  h2, h3, h4 {
    line-height: 1.2;
  }

  h2 {
    @apply text-2xl;

    margin-top: 3em;
    margin-bottom: 0.2em;
  }

  h3 {
    @apply text-xl;

    margin-top: 2.2em;
    margin-bottom: 0.2em;
  }

  h4 {
    @apply text-lg;

    margin-top: 1.5em;
    margin-bottom: 0.2em;
  }

  h2:first-child,
  h3:first-child,
  h4:first-child {
    @apply mt-0;
  }

  blockquote {
    @apply font-smoothing font-script mt-8 mb-10 border-l-2 border-pink pl-6 py-2 -ml-6 text-lg;

    letter-spacing: 0.0075em;
    color: #333333;
  }

  blockquote p:last-child {
    margin-bottom: 0;
  }

  blockquote p + p {
    @apply mt-2;
  }
}
