/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
*, *:before, *:after {
    box-sizing: border-box;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    @apply .font-display .font-medium .leading-tight;
}

a {
    @apply .text-pink;
}

.wipe-enter-active {
    transition: transform 0.35s ease-out;
}

.wipe-leave-active {
    transition: transform 0.35s ease-in;
}

.wipe-enter {
    transform: translateY(-100%);
}

.wipe-leave-to {
    transform: translateY(100%);
}

.push-navigation li {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.push-navigation li:nth-child(1) {
    // transition-delay: 0.1s;
}

.push-navigation li:nth-child(2) {
    transition-delay: 0.15s;
}

.push-navigation li:nth-child(3) {
    transition-delay: 0.3s;
}

.push-navigation li:nth-child(4) {
    transition-delay: 0.45s;
}

.push-navigation.reveal li {
    opacity: 1;
}

/*
|-----------------------------------------------------------------------------
| Hamburgers                                    https://jonsuh.com/hamburgers/
|-----------------------------------------------------------------------------
|
| This is the "hamburgers" in our package.json file.
|
*/

$hamburger-padding-x:           12px;
$hamburger-padding-y:           10px;
$hamburger-layer-width:         18px;
$hamburger-layer-height:        2px;
$hamburger-layer-spacing:       4px;
$hamburger-layer-color:         #fff;
$hamburger-layer-border-radius: 4px;
$hamburger-hover-opacity:       1;
$hamburger-types:               ( elastic );

@import '../../../node_modules/hamburgers/_sass/hamburgers/hamburgers';
@import '../../../node_modules/hamburgers/_sass/hamburgers/base';

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 * * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.outline-none:focus {
    outline: none;
}

@responsive {
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .grid-gap-28 {
        grid-row-gap:    28px;
        grid-column-gap: 28px;
    }

    .grid-row-gap-36 {
        grid-row-gap: 36px;
    }

    .col-12 { grid-column: span 12; }
    .col-6  { grid-column: span 6; }
}
