/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
*, *:before, *:after {
    box-sizing: border-box;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre, code {
    @apply .font-mono;

    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    @apply .font-display .font-medium .leading-tight;
}

h1 {
    @apply .ms-3xl;
}

h2 {
    @apply .ms-2xl .mt-6 .mb-4;
}

h3 {
    @apply .ms-xl .mt-4 mb-2;
}

h4 {
    @apply .ms-lg;
}

p, blockquote, pre {
    @apply .mt-2;
}

a {
    @apply .text-pink;
}

.home nav a strong {
    @apply .relative;
}

.home nav a strong:after {
    content: '';
    height: 22px;
    width: 110%;
    z-index: -1;
    top: 7px;
    left: 4px;

    @apply .block .absolute;
    @apply .bg-pink opacity-25;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

@responsive {
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .grid-gap-28 {
        grid-row-gap:    28px;
        grid-column-gap: 28px;
    }

    .grid-row-gap-36 {
        grid-row-gap: 36px;
    }

    .col-12 { grid-column: span 12; }
    .col-6  { grid-column: span 6; }
}
